@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0%;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #fff;
  --secondary-bg-color: #f5f4fa;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  padding-top: 80px;
}

.link {
  text-decoration: none;
  font-style: normal;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid red; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.button {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 80px;
  padding-top: 24px;
  padding-bottom: 25px;
  background-color: var(--primary-white-color);
  border-bottom: 1px solid #ececec;
}

.header-nav {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.header__logo {
  margin-right: 93px;
}

.accent {
  color: var(--accent-color);
}

/* Хэдер навигация */
.menu {
  display: flex;
}

.menu__item .link.current {
  position: relative;
}

.menu__item .link.current::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  display: block;
  bottom: -32px;
  left: 0;
  background-color: var(--accent-color);
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu .link {
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu .link:hover, .menu .link:focus {
  color: var(--accent-color);
}

.menu .link.current {
  color: var(--accent-color);
}

.header__contacts {
  display: flex;
  margin-left: auto;
}

.header__contacts-item:not(:first-child) {
  margin-left: 30px;
}

.header__contacts-item__icon {
  margin-right: 10px;
}

.header__contacts-item {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  fill: currentColor;
}

.header__contacts .link {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contacts .link:hover,
.header__contacts .link:focus {
  color: var(--accent-color);
}

/* .header__contacts .link {
  color: currentColor;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header__contacts-item:hover,
.header__contacts-item:focus {
  color: var(--accent-color);
} */
/* .header__contacts-item:hover + .header__contacts-item__icon {
  color: var(--accent-color);
  fill: var(--accent-color);
} */
.hero {
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 696px;
}

.hero-title {
  color: #fff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  /* max-width: 696px; */
  margin-bottom: 30px;
}

.feature {
  padding-bottom: 0;
}

.feature-list {
  display: flex;
}

.feature-item .container {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.feature-item:not(:last-child) {
  margin-right: 30px;
}

.feature-item-title {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.feature-item-text {
  line-height: 1.71;
}

.service-title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  margin-bottom: 50px;
}

.service-list {
  display: flex;
}

.service-card {
  position: relative;
}

.service-card:not(:last-child) {
  margin-right: 30px;
}

.service-card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  height: 70px;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
}

.team-title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
}

.team-card {
  background-color: var(--primary-white-color);
  width: 270px;
}

.team-card:not(:last-child) {
  margin-right: 30px;
}

.team-card > .content {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  /* outline: 2px solid red; */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

.team-card-text {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.team-sm-list {
  display: flex;
  justify-content: center;
}

.team-sm-item {
  width: 44px;
  height: 44px;
}

.team-sm-item + .team-sm-item {
  margin-left: 10px;
}

.team-sm-link {
  width: 100%;
  height: 100%;
  background-color: var(--primary-white-color);
  /* background-color: orange; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-sm-link:hover, .team-sm-link:focus {
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
  outline: none;
}

.clents-title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
}

.clients-item {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item + .clients-item {
  margin-left: 30px;
}

.clients-item:hover, .clients-item:focus {
  border-color: var(--accent-color);
  /* outline: none; */
}

.clients-item-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  fill: #afb1b8;
}

.clients-item-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item-link:hover .clients-item-icon,
.clients-item-link:focus .clients-item-icon {
  fill: var(--accent-color);
  outline: none;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__logo {
  color: var(--primary-white-color);
  margin-bottom: 20px;
  display: inline-block;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.address__office {
  display: flex;
  flex-direction: column;
}

.address__office .link {
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.address__office-item__link.link {
  color: var(--primary-white-color);
}

.address__office-item:not(:last-child) {
  margin-bottom: 9px;
}

.address .link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address .link:hover, .address .link:focus {
  color: var(--accent-color);
}

.socials {
  margin-left: 70px;
}

.socials__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.socials-list {
  display: flex;
}

.socials-list__item {
  width: 44px;
  height: 44px;
}

.socials-list__item + .socials-list__item {
  margin-left: 10px;
}

.socials-list__link {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  fill: var(--primary-white-color);
  transition: color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-list__link:hover, .socials-list__link:focus {
  background-color: var(--accent-color);
  outline: none;
}

.subscribe {
  margin-left: auto;
}

.subscribe__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.subscribe__form {
  display: flex;
}

.subscribe__form__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: #2f303a;
  border-radius: 4px;
  margin-right: 12px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.subscribe__form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.button__icon {
  margin-left: 10px;
  fill: var(--primary-white-color);
}

/* Buttons */
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-item__button {
  background-color: var(--secondary-bg-color);
  color: var(--title-text-color);
  font-size: 16px;
  border: none;
  padding: 6px 22px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-item__button:hover, .filter-item__button:focus, .filter-item__button:active {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-item__button.active {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Portfolio Cards */
.project-list {
  display: flex;
  flex-wrap: wrap;
}

.project-card {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card:nth-child(3n) {
  margin-right: 0;
}

.project-card:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.project-card:hover, .project-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-card-overlay {
  position: relative;
  overflow: hidden;
}

.project-top-text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card:hover .project-top-text,
.project-card:focus .project-top-text {
  transform: translateY(0);
}

.project-card .content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  /* outline: 2px solid red; */
}

.project-card-title {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-card-text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: scale(0.5) translate(-50%, -50%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 528px;
  min-height: 581px;
  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
}

.modal-close-btn:focus {
  outline: none;
}

.modal-close-icon {
  align-self: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: var(--accent-color);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.modal-label {
  margin-bottom: 4px;
  color: var(--primary-text-color);
  display: inline-block;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-input-wrap {
  position: relative;
  margin-bottom: 10px;
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field:focus-within .modal-icon {
  fill: var(--accent-color);
}

.modal-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  resize: none;
  margin-bottom: 20px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.check-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.check-icon {
  fill: transparent;
}

.modal-check:checked + .check-text .check-icon {
  fill: var(--primary-white-color);
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
}

.modal-check:checked + .check-text span {
  background-color: var(--accent-color);
  border: none;
}

.modal-check {
  margin-left: 19px;
  margin-top: 12px;
}

.policy-terms {
  color: var(--accent-color);
  margin-left: 5px;
}

.modal-submit {
  display: flex;
  justify-content: center;
}
/*# sourceMappingURL=main.css.map */