.clents-title {
  color: var(--title-text-color);

  font-size: 36px;
  line-height: 1.67;
  text-align: center;

  margin-bottom: 50px;
}

.clients-list {
  display: flex;
}

.clients-item {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  & + & {
    margin-left: 30px;
  }

  &:hover,
  &:focus {
    border-color: var(--accent-color);
    /* outline: none; */
  }
}

.clients-item-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  fill: #afb1b8;
}

.clients-item-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .clients-item-link:hover &,
  .clients-item-link:focus & {
    fill: var(--accent-color);
    outline: none;
  }
}
