.feature {
  padding-bottom: 0;

  &-list {
    display: flex;
  }
}

// .feature-list {
//   display: flex;
// }

.feature-item {
  .container {
    width: 270px;
    height: 120px;
    background-color: #f5f4fa;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 30px;
  }

  &:not(:last-child) {
    margin-right: 30px;
  }

  &-title {
    color: var(--title-text-color);

    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &-text {
    line-height: 1.71;
  }
}

// .feature-item-title {
//   color: var(--title-text-color);

//   font-size: 14px;
//   line-height: 1.14;
//   text-transform: uppercase;
//   margin-bottom: 10px;
// }

// .feature-item-text {
//   line-height: 1.71;
// }
