.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;

  &__logo {
    color: var(--primary-white-color);
    margin-bottom: 20px;
    display: inline-block;
  }
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.address__office {
  display: flex;
  flex-direction: column;

  & .link {
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
  }
}

.address__office-item__link.link {
  color: var(--primary-white-color);
}

.address__office-item:not(:last-child) {
  margin-bottom: 9px;
}

.address .link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.socials {
  margin-left: 70px;

  &__title {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-white-color);
    margin-bottom: 20px;
  }
}

.socials-list {
  display: flex;
}

.socials-list__item {
  width: 44px;
  height: 44px;

  & + & {
    margin-left: 10px;
  }
}

.socials-list__link {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  fill: var(--primary-white-color);
  transition: color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    outline: none;
  }
}

.subscribe {
  margin-left: auto;

  &__title {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-white-color);
    margin-bottom: 20px;
  }

  &__form {
    display: flex;
  }
}

.subscribe__form__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: #2f303a;
  border-radius: 4px;
  margin-right: 12px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
}

.button__icon {
  margin-left: 10px;
  fill: var(--primary-white-color);
}
