.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 80px;
  padding-top: 24px;
  padding-bottom: 25px;
  background-color: var(--primary-white-color);

  border-bottom: 1px solid #ececec;
}

.header-nav {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.header__logo {
  margin-right: 93px;
}

.accent {
  color: var(--accent-color);
}

/* Хэдер навигация */

.menu {
  display: flex;
}

.menu__item .link.current {
  position: relative;

  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    display: block;
    bottom: -32px;
    left: 0;
    background-color: var(--accent-color);
  }
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu .link {
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &.current {
    color: var(--accent-color);
  }
}

.header__contacts {
  display: flex;
  margin-left: auto;
}

.header__contacts-item:not(:first-child) {
  margin-left: 30px;
}

.header__contacts-item__icon {
  margin-right: 10px;
}

.header__contacts-item {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  fill: currentColor;
}

.header__contacts .link {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contacts .link:hover,
.header__contacts .link:focus {
  color: var(--accent-color);
}

/* .header__contacts .link {
  color: currentColor;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header__contacts-item:hover,
.header__contacts-item:focus {
  color: var(--accent-color);
} */

/* .header__contacts-item:hover + .header__contacts-item__icon {
  color: var(--accent-color);
  fill: var(--accent-color);
} */
