body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;

  padding-top: 80px;
}

.link {
  text-decoration: none;
  font-style: normal;
}

.list {
  list-style: none;
}
